.storybook-button {
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	border: 0;
	border-radius: var(--border-radius-radius-xs);
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	text-transform: uppercase;
	font-size: 14px;

	&--primary {
		color: var(--color-neutral-white);
		background-color: var(--color-interface-button-primary-button-color);
	}

	&--secondary {
		color: var(--color-neutral-white);
		background-color: var(--color-interface-button-secondary-button-color);
	}

	&--small {
		font-size: 12px;
		padding: var(--space-padding-xs) var(--space-padding-sm);
	}

	&--medium {
		padding: var(--space-padding-sm) var(--space-padding-xxl);
	}

	&--large {
		padding: var(--space-padding-md) var(--space-padding-huge);
	}
}