:root {
  /* colors */
  --color-background-background-color: var(--color-grays-gray50, #f6f6f8);
  --color-interface-error-color: var(--color-accents-red, #e58586);
  --color-interface-error-lightcolor: var(--color-accents-red-light, #fae8e8);
  --color-interface-primary-active-color: var(--color-main-primary-color, #b93228);
  --color-interface-success-color: var(--color-accents-green, #73ac3a);
  --color-interface-border-border-active-color: var(--color-grays-gray500, #303030);
  --color-interface-border-border-color: var(--color-grays-gray200, #ebebeb);
  --color-interface-border-border-disabled-color: var(--color-grays-gray100, #f4f4f4);
  --color-interface-border-border-hovercolor: var(--color-grays-gray400, #999999);
  --color-interface-border-border-on-surface-color: var(--color-grays-gray200, #ebebeb);
  --color-interface-button-primary-button-color: var(--color-grays-gray500, #303030);
  --color-interface-button-primary-button-disabled-color: var(--color-grays-gray200, #ebebeb);
  --color-interface-button-primary-button-hover-color: var(--color-grays-gray600, #262626);
  --color-interface-button-secondary-button-color: var(--color-main-secondary-color, #6c7c57);
  --color-interface-button-secondary-button-hover-color: var(--color-main-secondary-hover-color, #5b694a);
  --color-interface-icon-icon-color: var(--color-grays-gray500, #303030);
  --color-interface-icon-icon-disabled-color: var(--color-grays-gray300, #cccccc);
  --color-interface-icon-icon-hover-color: var(--color-interface-primary-active-color, #b93228);
  --color-interface-icon-icon-on-primary-color: var(--color-neutral-white, #ffffff);
  --color-main-primary-color: var(--color-brands-primary-brand-color, #b93228);
  --color-main-primary-disabled-color: var(--color-brands-primary-brand-lighter-color, #e48881);
  --color-main-primary-hover-color: var(--color-brands-primary-brand-darker-color, #a82d24);
  --color-main-secondary-color: var(--color-brands-secondary-brand-color, #6c7c57);
  --color-main-secondary-disabled-color: var(--color-brands-secondary-brand-lighter, #b4c0a5);
  --color-main-secondary-hover-color: var(--color-brands-secondary-brand-darker, #5b694a);
  --color-surface-surface1: var(--color-grays-gray100, #f4f4f4);
  --color-surface-surface2: var(--color-grays-gray200, #ebebeb);
  --color-surface-surface3: var(--color-grays-gray300, #cccccc);
  --color-text-primary-text-color: var(--color-grays-gray500, #303030);
  --color-text-secondary-text-color: var(--color-grays-gray400, #999999);
  --color-text-tertiary-text-color: var(--color-grays-gray300, #cccccc);
  --color-text-text-disabled-color: var(--color-grays-gray300, #cccccc);
  --color-text-text-link-color: var(--color-accents-blue, #235f83);
  --color-text-text-on-primary-color: var(--color-neutral-white, #ffffff);
  /* numbers */
  --border-radius-radius-none: var(--8-pt-numbers-0, 0rem);
  --border-radius-radius-xs: var(--8-pt-numbers-1, 0.25rem);
  --border-radius-radius-sm: var(--8-pt-numbers-2, 0.5rem);
  --border-radius-radius-md: var(--8-pt-numbers-3, 0.75rem);
  --border-radius-radius-lg: var(--8-pt-numbers-4, 1rem);
  --border-radius-radius-full: var(--8-pt-numbers-full, 125rem);
  --space-padding-none: var(--8-pt-numbers-0, 0rem);
  --space-padding-xxs: var(--8-pt-numbers-1, 0.25rem);
  --space-padding-xs: var(--8-pt-numbers-2, 0.5rem);
  --space-padding-sm: var(--8-pt-numbers-3, 0.75rem);
  --space-padding-md: var(--8-pt-numbers-4, 1rem);
  --space-padding-lg: var(--8-pt-numbers-5, 1.25rem);
  --space-padding-xxl: var(--8-pt-numbers-6, 1.5rem);
  --space-padding-xxxl: var(--8-pt-numbers-7, 2rem);
  --space-padding-huge: var(--8-pt-numbers-8, 2.25rem);
  --space-padding-mega: var(--8-pt-numbers-9, 2.5rem);
  --space-padding-giga: var(--8-pt-numbers-10, 2.75rem);
  --space-padding-tera: var(--8-pt-numbers-11, 3rem);
  /* fonts */
  --font-primary: var(--font-brands-primary, sans-serif);
  --font-secondary: var(--font-brands-secondary, sans-serif);
  --font-tertiary: var(--font-brands-tertiary, sans-serif);
  /* end of varialbes */
  /* Keep the below line since it's important for parsing */
  --null: null;
}